---
---

@import "{{ site.theme }}";

/* Nasconde il sottotitolo e il pulsante View on GitHub */
.page-header > .project-tagline {
  display: none;
}

.page-header > a.btn {
  display: none;
}

.btn.submit-paper{
    background-color: transparent;
    border-color: #28a745;
    color: #28a745;
    font-weight: 700;
    border-width: 0.15em;
    margin-top: 1rem !important;
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
    color: #152897;
}
